<style>
    body { background: yellow; }
    * { color: red;  text-align: center;}
</style>

<iframe width="560" height="315" src="https://www.youtube.com/embed/ZKMzXxv4_EQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h1>Hello World</h1>

<div class="bestDiv">
	<img src="assets/handsomesquidward.jpg"/>
</div>
